header {
  text-align: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 20px;
}

.filter-container input,
.filter-container select {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
}